<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Panda</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: 1000;" color="primary">Part Inquiry Data</ion-label>
                </ion-col>
              </ion-row>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Price Code Brand</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>FORD & MAZDA</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Maintained Date</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>21/03/2013</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Engineering Part No</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>6M34-9601AA</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">FINIS</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>1449296</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">On Backorder</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-toggle color="primary" checked=true></ion-toggle>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Avaliable</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-toggle color="primary"></ion-toggle>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;" color="secondary">Model Application</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-md>
                <ion-label>FEV12-Ford Everest</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-md>
                <ion-label>MDR11-MAZDA J97 M+S</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12" size-md>
                <ion-label>FRA11-RANGER-J97 U+W</ion-label>
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-card-content>
            <ion-row>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Overpack Qty</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-select style="width: min-content;padding-top: 0px;padding-bottom: 0px;-webkit-padding-start: 0px;"
                  placeholder="Select One">
                  <ion-select-option selected=true value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Unitpack Qty</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-select style="width: min-content;padding-top: 0px;padding-bottom: 0px;-webkit-padding-start: 0px;"
                  placeholder="Select One">
                  <ion-select-option selected=true value="1">1</ion-select-option>
                  <ion-select-option value="2">2</ion-select-option>
                </ion-select>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Weight</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>1.0500 kgs</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Unit Cube</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>0.0594 meters</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Procuretment Code</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>NOR</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Marketing Code</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>6-1203</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Replaced By</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>WE01-13Z40-MC</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Inventory Status</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>ORB</ion-label>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>
              <ion-row>
                <ion-col>
                  <ion-label style="font-weight: 1000;" color="primary">Price Data - Excluding Sales Tax</ion-label>
                </ion-col>
              </ion-row>
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-row>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Recomended List Price</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>$ 336.00</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Rush Price</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>$ 268.00</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Stock Price</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>$ 184.80</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Deposit</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>$ 0.00</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">VAT / Sales Tax / GST</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>15%</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Discount Code</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>45</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;" color="secondary">Bulk Buy</ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Level 1</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>XX-XXXX</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label style="font-weight: 1000;">Level 2</ion-label>
              </ion-col>
              <ion-col size="6" size-md>
                <ion-label>XX-XXXX</ion-label>
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-card-content>
            <ion-card-header>
              <ion-row>
                <ion-col size="8" size-md>
                  <ion-label style="font-weight: 1000;" color="success">Life Time / Life Long Warranty</ion-label>
                </ion-col>
                <ion-col size="4" size-md>
                  <ion-toggle color="primary" checked=true></ion-toggle>
                </ion-col>
              </ion-row>
            </ion-card-header>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar style="text-align: center;">
    <ion-button color="primary">
      <ion-icon name="checkmark-outline"></ion-icon>submit
    </ion-button>
    <ion-button color="medium">
      <ion-icon name="close-outline"></ion-icon>Cancel
    </ion-button>
  </ion-toolbar>
</ion-footer>